<h1>User#product_email</h1>

<p>
  <%= @greeting %> <%= @user.name %>, Here is the latest info on <%= @product.name %>. This delightful beer is a wonderful <%= @product.description %> that can range from <%= @product.low_price_range %> to <%= @product.high_price_range %>.
</p>
